@import "_bootstrap/bootstrap.less";
@import "pygments/default.css";

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
}

.previous {
    float: left;
}

.next {
    float: right;
}
