// CONTENTS
// --------
// GLOBAL STYLES
// SPRITE
// BASE STRUCTURE
// POSTS
// TAGS PAGE
// ARCHIVES PAGE
// 404 PAGE
// COMMENTS

@import "_bootstrap/bootstrap.less";
@import "_pygments/github.less";

@baseFontSize: 15px;
@baseLineHeight: 1.618em;
@headingsFontFamily: 'TelegramaRender', "Courier New", monospace;

@mainColor: @linkColor;
@backgroundColor: @infoBackground;

.font-face(@family, @path) {
    font-family: @family;
    src: url('@{path}.eot');
    src: url('@{path}.eot?#iefix') format('embedded-opentype'),
         url('@{path}.woff') format('woff'),
         url('@{path}.ttf') format('truetype'),
         url('@{path}.svg#@{family}') format('svg');
}


// GLOBAL STYLES
// -------------

@font-face { .font-face('TelegramaRender', 'font/telegrama-render'); }
@font-face { .font-face('TelegramaRaw', 'font/telegrama-raw'); }

h1, h2, h3, h4, h5, h6 {
    line-height: @baseLineHeight;
    font-weight: normal;
}

address {
    display: inline;
}

ul {
    list-style-type: square;
}

span[title] {
    cursor: help;
    border-bottom: 1px dotted #DDD;
}

a {
    .transition(all 0.1s linear);

    &:hover, &:focus {
        color: @linkColorHover;
        text-decoration: none;
    }

    &:active {
        position: relative;
        top: 1px;
        .transition(none);
    }
}

.tag {
    padding: 2px;
    .border-radius(3px);
    background: @backgroundColor;
    white-space: nowrap;

    &:hover, &:focus {
        background: darken(@backgroundColor, 10%);
    }
}

// Pygments code block
.highlight {
    position: relative;

    pre {
        width: 100%;
        overflow: auto;
        white-space: pre;
        word-wrap: normal;

        // Add the syntax name above the code block
        code:after {
            content: attr(class);
            position: absolute;
            top: -1em - (@baseLineHeight - 1) / 2;
            right: 0;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}


// SPRITE
// ------
.sprite(@x, @y) {
    background: url(../img/sprite.png) no-repeat @x @y;
}

.sprite-linode {
    width: 190px;
    height: 50px;
    .sprite(0px, 0px);
}

.sprite-html5 {
    width: 241px;
    height: 64px;
    .sprite(0px, -64px);
}

.sprite-creative-commons {
    width: 88px;
    height: 31px;
    .sprite(0px, -128px);
}


// BASE STRUCTURE
// --------------

@sidebarWidth: 100px + @gridGutterWidth * 2;
@tetrisWidth: 120px;
@tetrisImgHeight: 72px;
@tetrisCanvasHeight: 240px;

body {
    max-width: 700px + @sidebarWidth;
    margin: 0 auto;
    position: relative;
}

#wrapper {
    padding: @gridGutterWidth;
    margin-left: @sidebarWidth;
}

#header {
    margin-bottom: @gridGutterWidth;
    text-align: center;
}

#header, #header h1 {
    font-size: 44px;
    line-height: 1em;
    font-family: 'TelegramaRaw', "Courier New", monospace;
}

#main {
    margin-bottom: @gridGutterWidth;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: @sidebarWidth;
    text-align: right;
}

#tetris {
    position: relative;
    width: @tetrisWidth;
    max-height: @tetrisImgHeight; // Flexible height transition workaround
    overflow: hidden;
    margin: 1px 0 @gridGutterWidth auto; // auto moves the div to the right
    .transition(all 0.2s linear);
    .opacity(50);
    font: bold 12px @monoFontFamily;

    &:hover {
        .opacity(100);
    }

    .btn-mini {
        font-size: 12px;
    }

    .overlay {
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
        padding: 2px;
        color: white;
        background: black; // rgba fallback
        background: rgba(0, 0, 0, 0.85);
        .box-sizing(border-box);
    }

    .gameover {
        top: @tetrisCanvasHeight / 2;
        text-align: center;
    }

    &.gameover .gameover {
        display: block;
    }

    .help-box {
        top: 0;
        text-align: left;
        font-size: 10px;
        font-weight: normal;

        strong {
            font-size: 12px;
        }
    }

    .game {
        display: none;
    }

    &.running {
        max-height: 300px;
        .opacity(100);

        img {
            display: none;
        }

        .game {
            display: block;
        }
    }

    .highscore {
        display: none;
    }

    .sound {
        display: none;
    }
}

.localstorage #tetris .highscore {
    display: block;
}

.audio #tetris .sound {
    display: inline-block;
}

.canvas #tetris img {
    cursor: pointer;
}

#main-menu {
    padding-right: @gridGutterWidth;
    border-right: 3px dashed @mainColor;
    font-size: 18px;
    font-family: @headingsFontFamily;

    ul {
        margin: 0 0 @baseLineHeight / 2 0;
        list-style: none;

        a:hover, a:focus {
            padding-right: 5px;
        }
    }
}

#skip-top {
    text-align: center;
}

#skip-main-menu {
    display: none;
    text-align: center;
}

// Move sidebar to the bottom of the page on small screens
@media (max-width: 480px) {
    #wrapper {
        margin-left: 0;
    }

    #tetris {
        display: none;
    }

    #sidebar {
        position: static;
        width: auto;
        text-align: left;
        .clearfix();

        ul {
            float: left;
            padding: 0 @gridGutterWidth;
            border-left: 3px dashed @mainColor;

            a:hover, a:focus {
                padding-right: 0;
            }
        }
    }

    #skip-main-menu {
        display: block;
    }
}

#footer {
    margin-top: @gridGutterWidth;
    text-align: center;

    a {
        display: inline-block;
        margin-bottom: @gridGutterWidth;
        margin-left: @gridGutterWidth;
        vertical-align: middle;
    }
}


// POSTS
// -----

.post {
    margin-bottom: @gridGutterWidth;

    img {
        .border-radius(3px);
    }

    footer {
        font-size: 12px;
    }
}


// TAGS PAGE
// ---------
#tags {
    ul {
        list-style: none;
    }

    section {
        padding: 5px;
        .border-radius(3px);

        &:target {
            background: @backgroundColor;
        }

        ul {
            margin: 0;
        }

        li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

#tags-list {
    margin: 0 0 @gridGutterWidth 0;
    .clearfix();

    li {
        float: left;
        margin-left: 0.5em;

        .size {
            font-size: 0.7em;
            font-weight: bold;
            vertical-align: super;
        }
    }
}


// ARCHIVES PAGE
// -------------

#archives {
    section {
        margin-bottom: @gridGutterWidth;
    }

    article {
        .clearfix();
    }

    time {
        float: left;
        display: block;
        margin-right: @gridGutterWidth;
        width: 6em;
    }

    h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: @baseFontFamily;
        font-size: @baseFontSize;
    }
}


// 404 PAGE
// --------

#goog-wm-qt {
    margin: 0 0.5em 0 0;
}


// COMMENTS
// --------

#comments {
    margin-top: @gridGutterWidth;

    .loader {
        text-align: center;
    }

    .comment {
        margin-top: @gridGutterWidth;
        .border-radius(3px);
        border: 1px dashed darken(@backgroundColor, 10%);

        .header {
            padding: 3px;
            line-height: 1em;
            .border-radius(3px);
            background: @backgroundColor;
            .clearfix();

            img {
                float: left;
            }

            .name, .time {
                line-height: 25px; // Gravatar image height
            }

            .name {
                float: left;
                margin-left: 3px;
                font-weight: bold;
            }

            .time {
                float: right;
            }
        }

        .content {
            padding: 5px;

            :last-child {
                margin-bottom: 0;
            }
        }

        .user-mention {
            font-weight: bold;
        }
    }

    .no-comments, .unsupported, .error {
        font-style: italic;
    }
}
