<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!--
    ############################################################################
    # I hope you like my source code! If you're trying to figure out what      #
    # powers this website, check out the humans.txt ;-)                        #
    ############################################################################
    -->

    {% if page.title %}
        {% capture title %}{{ page.title }} | {% endcapture %}
    {% elsif paginator.page > 1 %}
        {% capture title %}Page {{ paginator.page }} | {% endcapture %}
    {% endif %}
    <title>{{ title }}{{ site.title }}</title>

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}

    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="alternate" type="application/rss+xml" href="/feed.rss" title="{{ site.titleRss }}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/apple-touch-icon-144x144-precomposed.png">

    <script src="/assets/js/vendor/modernizr.js"></script>
</head>
<body{% if page.pageId %} id="{{ page.pageId }}"{% endif %}>
    <div id="wrapper">
        <header id="header" role="banner">
            {% unless page.title %}<h1>{% endunless %}
                <a rel="home" href="/">{{ site.title }}</a>
            {% unless page.title %}</h1>{% endunless %}
        </header>

        <div id="skip-main-menu">
            <a href="#main-menu">Skip to main menu</a>
        </div>

        <div id="main" role="main">
            <!--[if lt IE 9]>
                <p class="alert alert-error">
                    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
                </p>
            <![endif]-->

            {{ content }}
        </div>

        <div id="sidebar">
            <div id="tetris">
                <div class="image"></div>
            </div>

            <nav id="main-menu" role="navigation">
                <ul>
                    <li><a rel="home" href="/">Home</a></li>
                    <li><a rel="author" href="/about/">About</a></li>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/archives/">Archives</a></li>
                </ul>

                <ul>
                    <li><a rel="me" href="https://github.com/Rowno">GitHub</a></li>
                    <li><a rel="me" href="https://plus.google.com/108621262237470431255/">Google+</a></li>
                    <li><a rel="me" href="http://www.linkedin.com/in/rolandwarmerdam">LinkedIn</a></li>
                </ul>
            </nav>

            <div class="search-wrapper">
                <form class="search" role="search" action="//www.google.com/search" method="get">
                    <label>
                        <span class="visuallyhidden">Search</span>
                        <input type="search" name="q" class="search-query" placeholder="Search">
                    </label>
                    <button type="submit" class="search-submit icon-search">
                        <span class="visuallyhidden">Submit</span>
                    </button>
                    <input type="hidden" name="sitesearch" value="{{ site.url | remove:'http://' | remove:'https://' }}">
                </form>
            </div>
        </div>

        <div id="skip-top">
            <a href="#">Skip to top of page</a>
        </div>

        <footer id="footer" role="contentinfo">
            {{ site.copyright }}

            <br>

            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
        </footer>
    </div>

    <script data-main="/assets/js/main.js" src="/assets/js/vendor/require.js"></script>
</body>
</html>
