---
layout: base
pageId: post
---

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% include post.html %}

    {% if page.commentsIssueId %}
    <aside id="comments" aria-busy="true" data-comments-issue-id="{{ page.commentsIssueId }}">
        <h2>Comments</h2>
        <p>
            Want to post comment? Simply comment on
            <a href="{{ site.githubUrl }}/issues/{{ page.commentsIssueId }}" itemprop="discussionUrl">GitHub Issue #{{ page.commentsIssueId }}</a>
            and it'll appear here.
        </p>
        <div class="loader">Loading...</div>
    </aside>
    {% endif %}
</div>
