---
layout: main
---

{% for page in paginator.posts %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
        {% capture content %}{{ page.content }}{% endcapture %}
        {% include post.html %}
    </article>
{% endfor %}


{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="{{ site.baseurl }}/" class="previous">← Newer posts</a>
    {% else %}
        <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}/" class="previous">← Newer posts</a>
    {% endif %}
{% endif %}

{% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page{{ paginator.next_page }}/" class="next">Older posts →</a>
{% endif %}
