.contact {
    padding: 125px $page-padding;
    font-size: 22px;
    text-align: center;
    color: #fff;

    @include media('height<m-height') {
        padding: 60px $page-padding;
    }

    @include media('<700px') {
        padding: 60px $page-padding;
    }

    &__heading {
        font-size: 30px;
        line-height: 1.5;

        @include media('<500px') {
            font-size: 24px;
        }
    }

    &__email {
        display: inline-block;
        margin-top: 30px;
        color: inherit;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        max-width: 345px;
        margin: auto;
        margin-top: 70px;

        &:hover a {
            opacity: 0.5;
        }

        // Keep separate because rules with unsupported selectors get dropped
        &:focus-within a {
            opacity: 0.5;
        }

        li {
            display: inline-block;
        }

        a {
            display: inline-block;
            transition-property: opacity;

            &:hover, &:focus {
                opacity: 1;
            }
        }
    }
}
