.contact {
    padding: 125px $page-padding;
    font-size: 22px;
    text-align: center;
    color: #fff;

    @include media('height<m-height') {
        padding: 60px $page-padding;
    }

    &__heading {
        font-size: 30px;
        line-height: 1.5;
    }

    &__email {
        display: inline-block;
        margin-top: 30px;
        color: inherit;
    }

    &__social {
        display: inline-block;
        margin-top: 70px;
        font-size: 0;

        @include media('height<m-height') {
            margin-top: 35px;
        }

        &:hover a {
            opacity: 0.5;
        }

        // Keep separate because rules with unsupported selectors get dropped
        &:focus-within a {
            opacity: 0.5;
        }

        li {
            display: inline-block;
        }

        a {
            display: inline-block;
            padding: 33px;
            transition-property: opacity;

            @include media('<530px') {
                padding: 25px;
            }

            &:hover, &:focus {
                opacity: 1;
            }
        }
    }
}
