*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    line-height: 1.6250em;
    font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
}
