// border-box all the things
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

// Fix the thick text rendering on OSX
html,
button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    min-width: 320px; // Set a sane limit
    font: $font-weight #{$font-size}/#{$line-height} $font-family;
}

// Reset headings
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: lighter;
    line-height: 1.2;
}

a {
    text-decoration: none;
    transition: 0.2s;
    transition-property: color, background-color;
}

// Reset lists
ul, ol {
    padding: 0;
    margin: auto;
    list-style: none;
}

// Reset buttons
button {
    padding: 0;
    border: none;
    background: none;
}
