.header {
    display: flex;
    align-items: center;
    min-height: 90px;
    padding: $page-padding;
    padding-right: $page-padding + 85px;
    line-height: 1;

    &:not(&.header--white) a {
        color: #fff;

        &:hover, &:focus {
            color: #fff;
        }
    }

    &--white {
        background: #fff;
    }

    &__name {
        margin-right: auto;
        font-size: 36px;
        font-weight: $thin;
        letter-spacing: 0.02em;

        &:not(.header__name--short) {
            @include media('<500px') {
                font-size: 7vw;
                font-weight: $light;
                line-height: 1.4;
            }

            @include media('<350px') {
                font-size: 24px;
            }
        }

        &--short {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 0;
                border-top: 1px solid currentColor;
                transition: width 0.2s;
            }

            &:hover, &:focus {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    &__email {
        display: inline-block;
        padding: 12px 25px;
        margin-left: auto;
        border: 1px solid currentColor;
        border-radius: 100px;
        font-size: 18px;

        @include media('<800px') {
            display: none;
        }
    }

    &:not(&.header--white) &__email {
        opacity: 0.7;
        transition-property: opacity;

        &:hover, &:focus {
            opacity: 1;
        }
    }
}
