.hero {
    padding: 70px $page-padding 20px;
    color: #fff;
    text-align: center;

    &__avatar {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
        border-radius: 100%;
    }

    &__heading {
        font-size: 6.5vw;
        font-weight: lighter;

        @include media('>1280px') {
            font-size: 80px;
        }

        @include media('<700px') {
            font-size: 45px;
        }
    }

    &__tagline {
        opacity: 0.8;
        font-size: 18px;
    }

    &__skills {
        @include list-reset;
        display: flex;
        max-width: 940px;
        margin: auto;
        margin-top: 80px;
    }

    &__skill {
        margin: 0 auto;

        svg {
            // width: 100px;
            // height: 100px;
            // max-width: 70px;
            // max-height: 62px;
            stroke: #fff;
            stroke-width: 1px;
            transform: translateZ(0); // Fixes Chrome rendering bug
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
            animation: line 2s linear forwards;

            @keyframes line {
                to {
                    stroke-dashoffset: 0;
                }
            }

            @include media('<640px') {
                width: 9vw;
                height: 9vw;
            }
        }

        $delay: 0.6s;

        &:nth-child(2) svg {
            animation-delay: $delay;
        }

        &:nth-child(3) svg {
            animation-delay: $delay * 2;
        }

        &:nth-child(4) svg {
            animation-delay: $delay * 3;
        }

        &:nth-child(5) svg {
            animation-delay: $delay * 4;
        }

        &:nth-child(6) svg {
            animation-delay: $delay * 5;
        }
    }

    &__nav {
        @include list-reset;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 180px;
        font-size: 20px;

        @include media('height<m-height') {
            margin-top: 50px;
        }

        a {
            display: inline-block;
            padding: 30px;
            color: inherit;

            @include media('<640px') {
                padding: 15px;
            }
        }
    }
}



.project-list {
    background: #fff;

    &__wrapper {
        max-width: 840px;
        padding: 60px $page-padding;
        margin: auto;
    }

    &__heading {
        text-align: center;
    }

    &__project {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;

        @include media('height<m-height') {
            padding: 40px 0;
        }

        &__image {
            margin-right: 40px;

            img {
                max-width: 100%;
            }
        }

        &__content {
            max-width: 400px;
        }

        &__heading {
            margin-bottom: 20px;
        }

        &__logos {
            margin-bottom: 20px;
            font-size: 0;

            svg {
                max-width: 22px;
                max-height: 22px;
                margin-right: 13px;
                stroke-width: 3px;
            }
        }

        &__description {
            margin: 0;
        }

        &__link {
            display: inline-block;
            padding: 10px 25px;
            margin-top: 40px;
            color: #fff;
        }
    }
}
