.hero {
    padding: 70px $page-padding 20px;
    color: #fff;
    text-align: center;

    @include media('<500px') {
        padding: $page-padding;
        padding-bottom: 45px;
    }

    &__avatar {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
        border-radius: 100%;

        @include media('<400px') {
            display: none;
        }
    }

    &__heading {
        font-size: 6.5vw;
        font-weight: lighter;

        @include media('>1280px') {
            font-size: 80px;
        }

        @include media('<550px') {
            font-size: 35px;
        }

        @include media('<400px') {
            font-size: 24px;
            font-weight: $font-weight;
            text-align: left;
        }

        br {
            display: none;

            @include media('<400px') {
                display: inline;
            }
        }
    }

    &__tagline {
        opacity: 0.8;
        font-size: 18px;

        @include media('<400px') {
            font-size: 13px;
            text-transform: uppercase;
            text-align: left;
        }
    }

    &__skills {
        display: flex;
        max-width: 940px;
        margin-top: 80px;

        @include media('<400px') {
            margin-top: 50px;
        }
    }

    &__skill {
        margin: 0 auto;

        svg {
            stroke: #fff;
            stroke-width: 1px;
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
            animation: line 2s linear forwards;

            @include media('<640px') {
                max-width: 10vw;
                max-height: 9vw;
            }

            @include media('<400px') {
                max-width: 30px;
                max-height: 24px;
                stroke-width: 2px;
            }

            @keyframes line {
                to {
                    stroke-dashoffset: 0;
                }
            }
        }

        $delay: 0.6s;

        &:nth-child(2) svg {
            animation-delay: $delay;
        }

        &:nth-child(3) svg {
            animation-delay: $delay * 2;
        }

        &:nth-child(4) svg {
            animation-delay: $delay * 3;
        }

        &:nth-child(5) svg {
            animation-delay: $delay * 4;
        }

        &:nth-child(6) svg {
            animation-delay: $delay * 5;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-top: 180px;
        font-size: 20px;

        @include media('height<m-height') {
            margin-top: 50px;
        }

        @include media('<800px') {
            margin-top: 50px;
        }

        @include media('<400px') {
            display: none;
        }

        a {
            display: inline-block;
            padding: 30px;
            color: inherit;

            @include media('<640px') {
                padding: 15px;
            }
        }
    }
}



.project-list {
    background: #fff;

    @include media('<600px') {
        text-align: center;
    }

    &__wrapper {
        max-width: 840px;
        padding: 60px $page-padding;
        margin: auto;

        @include media('<600px') {
            padding: 45px 0;
        }
    }

    &__heading {
        margin-bottom: 35px;
        text-align: center;
    }

    &__project {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 60px 0;

        @include media('height<m-height') {
            padding: 40px 0;
        }

        @include media('<600px') {
            flex-direction: column;
            padding: 40px 0 65px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 60px;
                height: 1px;
                margin: auto;
                background: #F2F2F2;
            }
        }

        &__image {
            margin-right: 40px;

            @include media('<600px') {
                order: 1;
                margin-right: 0;
                margin-top: 40px;
            }

            img {
                max-width: 100%;
            }
        }

        &__content {
            max-width: 400px;

            @include media('<600px') {
                max-width: none;
                padding: 0 $page-padding;
            }
        }

        &__heading {
            margin-bottom: 20px;
        }

        &__logos {
            margin-bottom: 20px;
            font-size: 0; // Remove space between inline elements

            svg {
                max-width: 22px;
                max-height: 22px;
                margin-left: 13px;
                stroke-width: 3px;

                @include media('<600px') {
                    width: 16px;
                    height: 16px;
                    stroke-width: 4px;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &__description {
            margin: 0;
        }

        &__link {
            display: inline-block;
            padding: 10px 25px;
            margin-top: 40px;
            color: #fff;
        }
    }
}
