.hero {
    padding: 150px $page-padding 15px;
    color: #fff;

    @include media('height<m-height') {
        padding-top: 50px;
    }

    @include media('<650px') {
        padding-top: 50px;
    }

    @include media('<450px') {
        padding: 0 $page-padding 45px;
    }

    &__heading {
        font-size: 6.4vw;
        font-weight: $thin;
        letter-spacing: 0.01em;
        line-height: 1.3;

        @include media('>860px') {
            font-size: 55px;
        }

        @include media('<450px') {
            font-size: 14px;
            font-weight: $light;
            text-transform: uppercase;
        }
    }

    &__skills {
        display: flex;
        margin-top: 60px;

        @include media('<450px') {
            margin-top: 50px;
        }
    }

    &__skill {
        flex-basis: 130px;

        svg {
            stroke: #fff;
            stroke-width: 1px;
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
            animation: line 2s linear forwards;

            @include media('<640px') {
                max-width: 10vw;
                max-height: 9vw;
            }

            @include media('<450px') {
                max-width: 30px;
                max-height: 24px;
                stroke-width: 2px;
            }

            @keyframes line {
                to {
                    stroke-dashoffset: 0;
                }
            }
        }

        $delay: 0.6s;

        &:nth-child(2) svg {
            animation-delay: $delay;
        }

        &:nth-child(3) svg {
            animation-delay: $delay * 2;
        }

        &:nth-child(4) svg {
            animation-delay: $delay * 3;
        }

        &:nth-child(5) svg {
            animation-delay: $delay * 4;
        }

        &:nth-child(6) svg {
            animation-delay: $delay * 5;
        }
    }

    &__nav {
        display: flex;
        margin-top: 150px;
        font-size: 20px;
        letter-spacing: 2px;

        @include media('height<m-height') {
            margin-top: 50px;
        }

        @include media('<650px') {
            margin-top: 50px;
        }

        @include media('<450px') {
            display: none;
        }

        a {
            display: inline-block;
            padding: 30px;
            color: inherit;

            @include media('<550px') {
                padding: 15px;
            }
        }

        > li:first-child a {
            padding-left: 0;
        }
    }
}



.project-list {
    background: #fff;

    @include media('<600px') {
        text-align: center;
    }

    &__wrapper {
        max-width: 840px;
        padding: 95px $page-padding;
        margin: auto;

        @include media('<600px') {
            padding: 45px 0;
        }
    }

    &__heading {
        margin-bottom: 15px;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 36px;

        @include media('<600px') {
            margin-bottom: 35px;
            font-size: 24px;
        }
    }

    &__project {
        display: flex;
        align-items: center;
        position: relative;
        padding: 65px 0;

        @include media('height<m-height') {
            padding: 40px 0;
        }

        @include media('<600px') {
            flex-direction: column;
            padding: 40px 0 65px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 60px;
                height: 1px;
                margin: auto;
                background: #F2F2F2;
            }
        }

        &__image {
            flex: 1;
            // 1: Fixes Firefox flexible image inside flex item bug
            max-width: 100%; // 1
            min-width: 0;    // 1
            min-height: 1px; // Fixes IE flex-direction:column intrinsic height bug
            margin-right: 40px;

            @include media('<600px') {
                flex-basis: auto; // Fixes IE flex-direction:column collapsing bug
                order: 1;
                margin-right: 0;
                margin-top: 40px;
            }

            img {
                max-width: 100%;
            }
        }

        &__content {
            flex: 1;
            width: 100%; // Fixes IE flex-direction:column text wrapping
            max-width: 460px;
            margin: 0;

            @include media('<600px') {
                flex-basis: auto; // Fixes IE flex-direction:column collapsing bug
                padding: 0 $page-padding;
            }
        }

        &__heading {
            margin-bottom: 15px;
            font-size: 24px;

            @include media('<600px') {
                font-size: 20px;
            }
        }

        &__logos {
            margin-bottom: 20px;
            font-size: 0; // Remove space between inline elements

            svg {
                max-width: 22px;
                max-height: 22px;
                margin-left: 13px;
                stroke-width: 3px;

                @include media('<600px') {
                    width: 18px;
                    height: 18px;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &__description {
            margin: 0;
        }

        &__link {
            display: inline-block;
            margin-top: 40px;
            color: #fff;

            &__hover {
                display: inline-block;
                padding: 10px 30px;
                transition: background $transition-speed/2;
            }

            &:hover &__hover,
            &:focus &__hover {
                background: rgba(0,0,0,0.1);
            }
        }
    }
}
