.heading {
    color: #3d3d3d;
    font-size: 36px;

    &--small {
        font-size: 24px;
    }
}



.themed {
    transition: 2s;

    &--hover {
        transition: 0.2s;
    }

    &--bg {
        transition-property: background;
    }

    &--stroke {
        transition-property: stroke;
    }
}

@mixin theme($name, $color) {
    .theme--#{$name} {
        ::selection {
            background-color: $color;
            color: #fff;
        }

        .themed {
            &--bg {
                background: $color;

                &.themed--hover {
                    &:hover, &:focus {
                        background: darken($color, 5%);
                    }
                }
            }

            &--stroke {
                stroke: $color;
            }
        }
    }
}

@include theme('1', #ff8465); // red
@include theme('2', #8465ff); // blue purple
@include theme('3', #6584ff); // blue
@include theme('4', #ff6584); // red pink



.line-hover {
    &:before,
    &:after {
        content: '';
        display: block;
        transform: scaleX(0);
        border-top: 1px solid currentColor;
        transition: all cubic-bezier(0.58, 0, 0.43, 2) 0.2s;
    }

    &:hover, &:focus {
        &:before,
        &:after {
            transform: scaleX(1);
        }
    }
}
