.hero-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $page-padding;
    padding-right: 110px;
    background: #fff;
    line-height: 1;

    @include media('<700px') {
        border-bottom: 1px solid #efefef;
    }

    &__home {
        font-size: 42px;
        font-weight: lighter;
    }

    &__email {
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid currentColor;
        border-radius: 100px;
        font-size: 18px;

        @include media('<450px') {
            display: none;
        }
    }
}

.project-detail {
    padding: 75px $page-padding 135px;
    background: #fff;

    @include media('<700px') {
        padding: 50px 0 35px;
    }

    &__wrapper {
        max-width: 940px;
        margin: auto;
    }

    &__top {
        display: flex;

        @include media('<700px') {
            flex-direction: column;
        }
    }

    &__images {
        margin-right: 6.5%;

        @include media('<700px') {
            order: 1;
            margin-right: 0;
            margin-top: 50px;
        }

        img {
            max-width: 100%;
        }
    }

    &__text {
        max-width: 600px;

        @include media('<700px') {
            padding-left: $page-padding;
            padding-right: $page-padding;
        }
    }

    &__heading {
        font-size: 30px;
    }

    &__logos {
        margin-top: 12px;
        font-size: 0; // Remove space between inline elements

        svg {
            max-width: 22px;
            max-height: 22px;
            margin-left: 13px;
            stroke-width: 3px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__description {
        margin-top: 35px;
    }

    &__links {
        display: flex;
        margin-left: -10px;

        li {
            border-left: 1px solid #f6f6f6;

            &:first-child {
                border-left: none;
            }
        }

        a {
            display: inline-block;
            padding: 0 10px;
        }
    }

    &__codepen {
        margin-top: 90px;

        @include media('<700px') {
            margin-top: 60px;
        }
    }
}
