.themed {
    transition: 2s;

    &--hover {
        &:hover, &:focus {
            transition: 0.2s;
        }
    }

    &--bg {
        transition-property: background;
    }

    &--stroke {
        transition-property: stroke;
    }

    &--color {
        transition-property: color;
    }
}

@mixin theme($name, $color) {
    .theme--#{$name} {
        ::selection {
            background-color: $color;
            color: #fff;
        }

        .themed--bg {
            background: $color;
        }

        .themed--stroke {
            stroke: $color;
        }

        .themed--color {
            color: $color;
        }

        .themed--hover {
            &:hover, &:focus {
                &.themed--bg,
                .themed--bg {
                    background: darken($color, 5%);
                }

                &.themed--stroke,
                .themed--stroke {
                    stroke: darken($color, 10%);
                }

                &.themed--color,
                .themed--color {
                    color: darken($color, 15%);
                }
            }
        }
    }
}

@include theme('1', #FF8465);
@include theme('2', #6584ff);
