{{#comments}}
    <div class="comment" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
        <div class="header">
            <span class="user" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                <a rel="nofollow" href="https://github.com/{{ user.login }}" itemprop="url">
                    <img src="{{ variables.gravatarUrl }}/avatar/{{ user.gravatar_id }}?s={{ variables.avatarSize }}&d=identicon&r=g"
                         alt=""
                         itemprop="image">

                    <span class="name" itemprop="name">{{ user.login }}</span>
                </a>
            </span>

            <a class="time" href="https://github.com/{{ variables.githubRepo }}/issues/{{ variables.commentsIssueId }}/#issuecomment-{{ id }}">
                <time datetime="{{ created_at }}" itemprop="commentTime">{{ created_at }}</time>
            </a>
        </div>

        <div class="content" itemprop="commentText">
            {{{ body_html }}}
        </div>
    </div>
{{/comments}}
{{#noComments}}
    <div class="no-comments">
        No comments yet. ☹
    </div>
{{/noComments}}

{{#unsupported}}
    <div class="unsupported">
        Sorry, your browser doesn't support the
        <span title="Cross-Origin Resource Sharing">features</span>
        required to load the comments, but feel free to read them at
        <a href="https://github.com/{{ variables.githubRepo }}/issues/{{ variables.commentsIssueId }}">GitHub</a>
        anyway.

        Or even better,
        <a href="http://browsehappy.com/">upgrade to a different browser</a>
        <!--[if IE]>
            or
            <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
        <![endif]-->
        to read them here!
    </div>
{{/unsupported}}

{{#error}}
    <div class="error">
        Oops, something broke while loading the comments. Please try again later or
        <a href="https://github.com/{{ variables.githubRepo }}/issues/">report the problem</a>.
    </div>
{{/error}}
