.not-found {
  max-width: 130vmin;
  padding: 8vmin $page-padding;
  color: #fff;
  font-size: 7vmin;
  font-weight: $thin;
  letter-spacing: 0.06em;
  line-height: 1.3;

  h1 {
    margin-bottom: 2.7vmin;
    font-size: 35vmin;
    letter-spacing: 0.1em;
    line-height: 1;
  }

  p {
    margin: 0;
  }
}
