.blog-list {
  padding: 0 $page-padding 85px;
  background: #fff;

  @include media('<600px') {
    padding-top: 25px;
    padding-bottom: 60px;
    border-top: 1px solid #efefef;
  }

  &__title {
    font-size: 46px;
    font-weight: $thin;
    text-align: center;
    letter-spacing: 0.1em;

    @include media('<600px') {
      font-size: 30px;
      font-weight: $light;
    }
  }

  &__title--top {
    margin-top: -3ex;
    margin-bottom: 75px;

    @include media('<600px') {
      margin-top: 0;
      margin-bottom: 55px;
    }
  }

  &__title--bottom {
    margin-top: 100px;

    @include media('<600px') {
      margin-top: 80px;
    }
  }

  &__post {
    position: relative;
    max-width: 620px;
    padding: 60px 0 70px;
    margin: auto;

    @include media('<600px') {
      padding: 40px 0;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &__date {
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      text-transform: uppercase;

      @include media('<600px') {
        margin-bottom: 20px;
      }
    }

    &__title {
      margin-bottom: 27px;
      font-size: 30px;
      font-weight: $thin;

      @include media('<600px') {
        margin-bottom: 25px;
        font-size: 23px;
        font-weight: $light;
      }
    }

    &__content {
      > :last-child {
        margin-bottom: 0;
      }
    }

    &__separator {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 1px;
    }
  }
}
