// border-box all the things
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Prevents transitions from triggering on page load
.preload * {
  transition: none !important;
}

// Fix the thick text rendering on OSX
html,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative; // Makes root absolutely positioned element stop at the min-width
  min-width: 320px; // Set a sane limit
  color: #3d3d3d;
  font: $light #{$font-size}/#{$line-height} $font-family;
}

// Reset headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
}

a {
  text-decoration: none;
  transition: $transition-speed;
  transition-property: color, background-color;
}

// Reset lists
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Reset buttons
button {
  padding: 0;
  border: none;
  background: none;
}

code,
kbd,
pre,
samp {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.04);
  font-family: $font-family-monospace;
  font-size: 0.85em;
  line-height: 1.5;
}

code,
kbd,
samp {
  padding: 0.25em 0.7em;
  margin: 0 3px;
}

pre {
  overflow: auto;
  padding: 16px;
}

code,
kbd,
pre,
samp {
  code,
  kbd,
  pre,
  samp {
    padding: 0;
    margin: 0;
    background: none;
    font-size: inherit;
  }
}

@font-face {
  font-family: 'Hack';
  font-display: swap;
  src: local('Hack'), url('/assets/fonts/hack.woff2') format('woff2'), url('/assets/fonts/hack.woff') format('woff'),
    url('/assets/fonts/hack.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/assets/fonts/roboto-thin.woff2') format('woff2'),
    url('/assets/fonts/roboto-thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('/assets/fonts/roboto-thin-italic.woff2') format('woff2'),
    url('/assets/fonts/roboto-thin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto-light.woff2') format('woff2'),
    url('/assets/fonts/roboto-light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('/assets/fonts/roboto-light-italic.woff2') format('woff2'),
    url('/assets/fonts/roboto-light-italic.woff') format('woff');
}
