.header {
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: $page-padding;
  padding-right: $page-padding + 85px;
  line-height: 1;

  &:not(.header--white) a {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &--white {
    background: #fff;
  }

  &__name {
    position: relative;
    margin-right: auto;
    font-size: 36px;
    font-weight: $thin;
    letter-spacing: 0.08em;

    &:not(.header__name--short) {
      @include media('<500px') {
        font-size: 7vw;
        font-weight: $light;
        line-height: 1.4;
      }

      @include media('<350px') {
        font-size: 24px;
      }
    }

    &--short {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        border-top: 1px solid currentColor;
        transition: width $transition-speed;
      }

      &:hover,
      &:focus {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
