{% for comment in comments %}
    <li class="blog-post__comment">
        <div class="blog-post__comment__header">
            <a rel="nofollow" href="https://github.com/{{ comment.user.login }}">
                <img class="blog-post__comment__avatar"
                     src="{{ comment.user.avatar_url }}&amp;s=30&amp;r=g"
                     srcset="{{ comment.user.avatar_url }}&amp;s=60&amp;r=g 2x"
                     alt="">

                <span class="blog-post__comment__name">
                    {{ comment.user.login }}
                </span>
            </a>

            <a class="blog-post__comment__date themed--no-color"
               rel="nofollow"
               href="https://github.com/Rowno/roland.codes/issues/{{ commentsIssueId }}/#issuecomment-{{ comment.id }}">
                <time datetime="{{ comment.created_at | date('c') }}"
                      title="{{ comment.created_at | date('c') }}">
                    {{ comment.created_at | fuzzydate }}
                </time>
            </a>
        </div>

        <div class="blog-post__comment__content">
            {{ comment.body_html | safe }}
        </div>
    </li>
{% endfor %}
