<div class="footer">
    <section class="footer__about footer__column" id="about">
        <h2 class="footer__heading">
            About
        </h2>

        <img class="footer__avatar"
             src="/assets/images/avatar.jpg"
             sizes="50px"
             srcset="/assets/images/avatar.jpg 100w, /assets/images/avatar@2x.jpg 200w"
             alt="Roland Warmerdam">

        <p class="footer__content">
            I’m from New Zealand and I build the internets. When I’m not reading about web technologies or coding, I listen to podcasts, play computer games, watch movies and read books.
        </p>
    </section>

    <section class="footer__contact footer__column" id="contact">
        <h2 class="footer__heading">
            Contact
        </h2>

        <a class="footer__email themed--no-color"
           target="_blank"
           href="{{'mailto:'|encode}}{{email|encode}}">{{email|encode}}</a>

        <br>

        <ul class="footer__social">
            <li>
                <a href="https://twitter.com/rowno1">
                    <img src="/assets/images/twitter.svg"
                         alt="Twitter"
                         width="27"
                         height="22">
                </a>
            </li>
            <li>
                <a href="https://github.com/Rowno">
                    <img src="/assets/images/github.svg"
                         alt="GitHub"
                         width="27"
                         height="27">
                </a>
            </li>
            <li>
                <a href="https://www.npmjs.com/~rowno">
                    <img src="/assets/images/npm.svg"
                         alt="npm"
                         width="41"
                         height="17">
                </a>
            </li>
            <li>
                <a href="https://nz.linkedin.com/in/rolandwarmerdam">
                    <img src="/assets/images/linkedin.svg"
                         alt="LinkedIn"
                         width="24"
                         height="24">
                </a>
            </li>
        </ul>
    </section>
</div>
