<div class="footer-short">
    <div class="footer-short__name">Roland Warmerdam</div>

    <ul class="footer-short__social">
        <li>
            <a href="https://twitter.com/rowno1">
                <img src="/assets/images/twitter.svg" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="https://github.com/Rowno">
                <img src="/assets/images/github.svg" alt="GitHub">
            </a>
        </li>
        <li>
            <a href="https://www.npmjs.com/~rowno">
                <img src="/assets/images/npm.svg" alt="npm">
            </a>
        </li>
        <li>
            <a href="https://nz.linkedin.com/in/rolandwarmerdam">
                <img src="/assets/images/linkedin.svg" alt="LinkedIn">
            </a>
        </li>
    </ul>
</div>
