<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!--
    ############################################################################
    # I hope you like my source code! If you're trying to figure out what      #
    # powers this website, have a look at the humans.txt :-)                   #
    ############################################################################
    -->

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.rss" title="{{ site.rss-title }}">

    <script src="{{ site.baseurl }}/js/modernizr.min.js"></script>
</head>
<body id="{{ page.pageid }}">
    <div id="wrapper">
        <header id="header" role="banner">
            {% unless page.title %}<h1>{% endunless %}
                <a rel="home" href="{{ site.baseurl }}/">{{ site.title }}</a>
            {% unless page.title %}</h1>{% endunless %}
        </header>

        <div id="skip-main-menu">
            <a href="#main-menu">Skip to main menu</a>
        </div>

        <div id="main" role="main">
            <!--[if lt IE 8]>
                <p class="chromeframe alert alert-error">
                    Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
                </p>
            <![endif]-->

            {{ content }}
        </div>

        <div id="sidebar">
            <nav id="main-menu" role="navigation">
                <ul>
                    <li><a rel="home" href="{{ site.baseurl }}/">Home</a></li>
                    <li><a rel="author" href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a href="{{ site.baseurl }}/archives/">Archives</a></li>
                </ul>
            </nav>

            <ul>
                <li><a rel="me" href="https://github.com/Rowno">GitHub</a></li>
                <li><a rel="me" href="https://plus.google.com/108621262237470431255/">Google+</a></li>
                <li><a rel="me" href="http://www.linkedin.com/in/rolandwarmerdam">LinkedIn</a></li>
            </ul>
        </div>

        <div id="skip-top">
            <a href="#main">Skip to top of page</a>
        </div>

        <footer id="footer" role="contentinfo">
            <a class="sprite-html5"
               href="http://www.w3.org/html/logo/"
               title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>

            <a class="sprite-linode"
               href="http://www.linode.com/?r=65f866a7004f627ae37fa3283f8a89b4fa9cecbe"
               title="hosting provided by linode.com"></a>

            <a rel="license"
               class="sprite-creative-commons"
               href="http://creativecommons.org/licenses/by-sa/3.0/"
               title="Creative Commons Attribution-ShareAlike 3.0 Unported License"></a>

            <br>

            {{ site.copyright }}
        </footer>
    </div>


    <script>
        var Site = (function () {
            'use strict';

            return {
                variables: {
                    githubUrl: '{{ site.githuburl }}'
                    {% if page.commentsIssueId %}
                    ,commentsIssueId: {{ page.commentsIssueId }}
                    {% endif %}
                }
            };
        }());
    </script>

    {% if page.jquery %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/jquery.min.js"><\/script>')</script>
    {% endif %}

    {% for path in page.scripts %}
        <script src="{{ site.baseurl }}{{ path }}"></script>
    {% endfor %}

    <script>
        var _gaq=[['_setAccount','UA-21361814-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=true;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
