<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--
    ############################################################################
    # I hope you like my source code! If you're trying to figure out what      #
    # makes this website tick, check out the humans.txt :-)                    #
    ############################################################################
    -->
    <link rel="author" href="{{ site.baseurl }}/humans.txt">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/rss.xml" title="{{ site.rss-title }}">

    <script src="{{ site.baseurl }}/js/modernizr.min.js"></script>
</head>
<body id="{{ page.pageid }}">
    <div id="wrapper">
        <header id="header" role="banner">
            {% unless page.title %}<h1>{% endunless %}
                <a rel="home" href="{{ site.baseurl }}/">{{ site.title }}</a>
            {% unless page.title %}</h1>{% endunless %}
        </header>

        <div id="skip-main-menu">
            <a href="#main-menu">Skip to main menu</a>
        </div>

        <div id="main" role="main">
            <!--[if lt IE 8]>
                <p class="chromeframe alert alert-error">
                    Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
                </p>
            <![endif]-->

            {{ content }}
        </div>

        <div id="sidebar">
            <nav id="main-menu" role="navigation">
                <ul>
                    <li><a rel="home" href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a href="{{ site.baseurl }}/archives/">Archives</a></li>
                </ul>
            </nav>

            <ul>
                <li><a rel="me" href="https://github.com/Rowno">GitHub</a></li>
                <li><a rel="me" href="https://plus.google.com/108621262237470431255/?rel=author">Google+</a></li>
                <li><a rel="me" href="http://www.linkedin.com/in/rolandwarmerdam">LinkedIn</a></li>
            </ul>
        </div>

        <footer id="footer" role="contentinfo">
            <a href="http://www.w3.org/html/logo/"><img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>

            <a href="http://www.linode.com/?r=65f866a7004f627ae37fa3283f8a89b4fa9cecbe"><img alt="hosting provided by linode.com" src="{{ site.baseurl }}/img/hosted_by_linode.png"></a>

            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons Attribution-ShareAlike 3.0 Unported License" title="Creative Commons Attribution-ShareAlike 3.0 Unported License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" width="88" height="31"></a>

            <br>

            {{ site.copyright }}
        </footer>
    </div>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=true;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
