.blog-post {
  $avatar-size: 30px;
  $avatar-margin: 15px;

  &__header {
    padding: 20px $page-padding 115px;
    color: #fff;

    @include media('<600px') {
      padding-top: 28px;
      padding-bottom: 35px;
    }

    &__wrapper {
      max-width: 620px;
      margin: auto;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: $thin;
    letter-spacing: 0.03em;

    @include media('<600px') {
      font-size: 23px;
      font-weight: $light;
    }
  }

  &__description {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.4;

    @include media('<600px') {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__date {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;

    @include media('<600px') {
      margin-top: 40px;
    }
  }

  &__body {
    padding: 45px $page-padding 115px;
    background: #fff;

    &__wrapper {
      max-width: 620px;
      margin: auto;
    }

    @include media('<600px') {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }

  &__content {
    margin-bottom: 40px;

    @include media('<600px') {
      margin-bottom: 45px;
    }
  }

  &__separator {
    width: 100px;
    height: 1px;
  }

  &__comments {
    margin-top: 75px;

    @include media('<600px') {
      margin-top: 55px;
    }

    &__title {
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: $thin;
      letter-spacing: 0.04em;

      @include media('<600px') {
        margin-bottom: 65px;
        font-size: 23px;
        font-weight: $light;
      }
    }

    &__list {
      margin-bottom: 65px;
    }

    &__add {
      display: inline-block;
      margin-left: -$avatar-size - $avatar-margin;
      letter-spacing: 0.03em;

      @include media('<770px') {
        margin-left: 0;
      }

      svg {
        margin-right: $avatar-margin;
        transition: inherit;
        transition-property: fill;
        fill: currentColor;
      }
    }
  }

  &__comment {
    margin-bottom: 65px;

    @include media('<600px') {
      margin-bottom: 35px;
    }

    &__header {
      display: flex;
      align-items: center;
      margin-left: -$avatar-size - $avatar-margin;
      margin-bottom: 8px;

      @include media('<770px') {
        margin-left: 0;
      }
    }

    &__avatar {
      width: $avatar-size;
      height: $avatar-size;
      margin-right: $avatar-margin;
      border-radius: 100%;
    }

    &__name {
      font-size: 20px;
    }

    &__date {
      opacity: 0.4;
      margin-left: auto;
      color: #3D3D3D;
      font-size: 12px;
      letter-spacing: 0.03em;
      transition: opacity $transition-speed;

      @include media('<600px') {
        font-size: 10px;
      }

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }
}
