$breakpoints: (m-height: 800px);

$media-expressions: (
    'screen': 'screen',
    'print': 'print',
    'handheld': 'handheld',
    'landscape': '(orientation: landscape)',
    'portrait': '(orientation: portrait)',
    'retina': (
        'print',
        '(min-resolution: 1.25dppx)',
        '(min-resolution: 120dpi)'
    )
);

$font-family: Roboto, 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
$font-size: 14px;
$light: 300;
$thin: 100;
$line-height: 1.7;
$page-padding: 25px;
$transition-speed: 200ms;

$zindex-body-wrapper: 1;
$zindex-push-nav: 10;
$zindex-push-nav-overlay: 10;
$zindex-push-nav-toggle: 11;
