@font-face { .font-face('TelegramaRender', 'font/telegrama-render'); }
@font-face { .font-face('TelegramaRaw', 'font/telegrama-raw'); }

h1, h2, h3, h4, h5, h6 {
    line-height: @baseLineHeight * 0.8;
    font-weight: normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style-type: square;
}

span[title] {
    cursor: help;
    border-bottom: 1px dotted #DDD;
}

a {
    .transition(all 0.1s linear);

    &:hover, &:focus {
        color: @linkColorHover;
        text-decoration: none;
    }

    &:active {
        position: relative;
        top: 1px;
        .transition(none);
    }
}

blockquote {
    margin: 1em;
    font-weight: normal;
    color: #999;

    p {
        font-size: inherit;
    }
}

.tag {
    padding: 2px;
    .border-radius(3px);
    background: @backgroundColor;
    white-space: nowrap;

    &:hover, &:focus {
        background: darken(@backgroundColor, 10%);
    }
}

// Pygments code block
.highlight {
    position: relative;

    pre {
        overflow: auto;
        white-space: pre;
        word-wrap: normal;

        code {
            white-space: pre;

            // Add the syntax name above the code block
            &:before {
                content: attr(data-lang);
                position: absolute;
                top: 1px;
                right: 1px;
                padding: (@baseLineHeight - 1) / 2; // Bootstrap `pre` padding calculation
                font: bold 0.7em @baseFontFamily;
                text-transform: uppercase;
                background: white;
                .border-radius(0 4px);
                border: 1px solid #ccc; // fallback for IE7-8
                border: 1px solid rgba(0,0,0,0.15);
                border-top: none;
                border-right: none;
                .transition(all 0.2s linear);
            }
        }

        &:hover, &:focus {
            code:before {
                .opacity(33);
            }
        }
    }
}

.loader {
    @size: 11px;
    @duration: 0.4s;

    .hide-text();
    position: relative;
    margin: 0 auto;

    .csspseudoanimations & {
        width: @size;
        height: @size;

        &, &:before, &:after {
            display: block;
            background: #82c4e5;
            border-radius: 25%;
            .animation(loader @duration @duration/3 steps(1) infinite);
        }

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &:before {
            left: -150%;
            .animation-delay(0s);
        }

        &:after {
            right: -150%;
            .animation-delay(@duration/3*2);
        }
    }

    .no-csspseudoanimations & {
        background: url(../img/ajax-loader.gif) no-repeat;
        width: 43px;
        height: 11px;
    }

    .keyframes() {
        0%   { background: #0088cc; }
        33%  { background: #82c4e5; }
        100% { background: #82c4e5; }
    }

    @-webkit-keyframes loader { .keyframes(); }
       @-moz-keyframes loader { .keyframes(); }
         @-o-keyframes loader { .keyframes(); }
            @keyframes loader { .keyframes(); }
}


.search {
    display: inline-block;
    position: relative;
    max-width: 100%;

    .search-query {
        width: 100%;
        height: 2em;
        .box-sizing(border-box);
        padding: 0 0.8em;
        padding-right: 1.5em;
    }

    .search-submit {
        position: absolute;
        right: 7px;
        top: 50%;
        margin-top: -0.55em;
        padding: 0;
        border: none;
        background: none;
        color: @grayLight;
        .transition(color linear .2s);

        &:hover, &:focus {
            color: @gray;
        }
    }
}
