<!doctype html>
<html lang="en" class="theme--1">
    <head>
        <meta charset="utf-8">
        <title>{% if title %}{{ title }} | {% endif %}Roland Warmerdam</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic">
        <meta name="theme-color" content="#3372DF">

        <meta name="application-name" content="Roland Warmerdam">
        <link rel="icon" sizes="192x192" href="/images/touch-icon.png">
        <link rel="apple-touch-icon" href="/images/touch-icon.png">

        <meta name="description" content="">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
    </head>
    <body class="themed--bg">
        <button type="button" class="push-nav-toggle themed--hover">
            Toggle navigation
            {% for line in [1,2,3] %}
                <div class="push-nav-toggle__line push-nav-toggle__line--{{line}}{% if pushNavThemed %} themed--bg{% endif %}"></div>
            {% endfor %}
        </button>

        <nav role="navigation" class="push-nav">
            <ul class="push-nav__links">
                <li>
                    <a class="push-nav__link themed--no-color" href="/#about">About</a>
                </li>
                <li>
                    <span class="push-nav__link push-nav__link--has-sub">Projects</span>

                    <ul>
                        <li>
                            <a class="push-nav__link themed--no-color" href="/projects/monocle/">The Monocle</a>
                        </li>
                        <li>
                            <a class="push-nav__link themed--no-color" href="/projects/monocle/">The Monocle</a>
                        </li>
                        <li>
                            <a class="push-nav__link themed--no-color" href="/projects/monocle/">The Monocle</a>
                        </li>
                        <li>
                            <a class="push-nav__link themed--no-color" href="/projects/monocle/">The Monocle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="push-nav__link themed--no-color" href="/blog/">Blog</a>
                </li>
                <li>
                    <a class="push-nav__link themed--no-color" href="/#contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="body-wrapper">
            {% block body %}{% endblock %}

            <div class="push-nav-overlay"></div>
        </div>

        <script src="/assets/js/index.js"></script>
    </body>
</html>
