<!doctype html>
<html lang="en" class="theme--1">
    <head>
        <meta charset="utf-8">
        <title>{% if title %}{{ title }} | {% endif %}Roland Warmerdam</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/index.css">

        <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Roland Warmerdam">

        <link rel="icon" sizes="192x192" href="/assets/images/touch-icon.png">
        <link rel="apple-touch-icon" href="/assets/images/touch-icon.png">

        {% if description %}
            <meta name="description" content="{{ description | escape }}">
            <meta property="og:description" content="{{ description | escape }}">
        {% endif %}
        <meta name="application-name" content="Roland Warmerdam">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ baseurl | escape }}/{% if path %}{{ path | escape }}/{% endif %}">
        <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}Roland Warmerdam">
        <meta property="og:image" content="{{ baseurl | escape }}{% if socialImage %}{{ socialImage | escape }}{% else %}/assets/images/touch-icon.png{% endif %}">
        <meta property="twitter:site" content="@rowno1">
        <meta property="twitter:creator" content="@rowno1">
        <meta property="twitter:card" content="{% if twitterCard %}{{ twitterCard | escape }}{% else %}summary{% endif %}">

        {% if noindex %}
            <meta name="robots" content="noindex">
        {% endif %}
    </head>
    <body class="themed--bg">
        <div class="background background--1"></div>
        <div class="background background--2"></div>

        <div class="body-wrapper">
            {% include "partials/header.html" %}

            <main role="main">
                {% block body %}{% endblock %}
            </main>

            <div class="push-nav-overlay"></div>
        </div>

        {% include "partials/push-nav.html" %}

        <script src="/assets/js/index.js"></script>
    </body>
</html>
