{% extends "base.html" %}
{% set headerShortName = true %}

{% block body %}
  <div class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="blog-post__header">
      <div class="blog-post__header__wrapper">
        <h1 class="blog-post__title" itemprop="headline">{{ title }}</h1>

        {% if description %}
          <div class="blog-post__description" itemprop="description">
            {{ description }}
          </div>
        {% endif %}

        <time class="blog-post__date"
              datetime="{{ date | date }}"
              title="{{ date | date }}"
              itemprop="datePublished">
          {{ date | date('M MMMM, GGGG') }}
        </time>
      </div>
    </header>

    <div class="blog-post__body">
      <div class="blog-post__body__wrapper">
        <div class="blog-post__content" itemprop="articleBody">
          {{ contents }}
        </div>

        <div class="blog-post__separator themed--bg"></div>

        <div class="blog-post__comments">
          <h2 class="blog-post__comments__title" id="comments">
            GitHub Comments
          </h2>

          <ol class="blog-post__comments__list"
              data-comments-issue-id="{{ commentsIssueId }}">
            Loading...
          </ol>

          <a class="blog-post__comments__add"
             href="https://github.com/Rowno/roland.codes/issues/{{ commentsIssueId }}"
             itemprop="discussionUrl">
            {{ svgs.add }}
            add comment via GitHub
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include "partials/footer-short.html" %}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ baseurl | e }}",
        "name": "Home"
      }
    }, {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ baseurl | e }}/blog/",
        "name": "Blog"
      }
    }, {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "{{ baseurl | e }}/{{ path | e }}/",
        "name": "{{ title }}"
      }
    }]
  }
  </script>
{% endblock %}
