<section class="contact" id="contact">
    <h2 class="contact__heading">
        Say hi.<br>
        I'd love to hear from you.
    </h2>

    <a class="contact__email line-hover themed--no-color"
       target="_blank"
       href="{{'mailto:'|encode}}{{email|encode}}">{{email|encode}}</a>

    <br>

    <ul class="contact__social">
        <li>
            <a href="https://twitter.com/rowno1">
                <img src="/assets/images/twitter.svg" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="https://github.com/Rowno">
                <img src="/assets/images/github.svg" alt="GitHub">
            </a>
        </li>
        <li>
            <a href="https://www.npmjs.com/~rowno">
                <img src="/assets/images/npm.svg" alt="npm">
            </a>
        </li>
        <li>
            <a href="https://nz.linkedin.com/in/rolandwarmerdam">
                <img src="/assets/images/linkedin.svg" alt="LinkedIn">
            </a>
        </li>
    </ul>
</section>
