<header role="banner" class="header{% if headerWhite %} header--white{% endif %}">
    {% if headerShortName %}
        <a class="header__name header__name--short"
           href="/"
           title="Roland Warmerdam"
           rel="home">RW</a>
    {% else %}
        <a class="header__name"
           href="/"
           rel="home">Roland Warmerdam</a>
    {% endif %}

    <a class="header__email"
       target="_blank"
       href="{{ 'mailto:' | encode }}{{ email | encode }}">{{ email | encode }}</a>
</header>
