{% extends "base.html" %}

{% block body %}
<header role="banner" class="hero">
    <img class="hero__avatar"
         src="/assets/images/avatar.jpg"
         srcset="/assets/images/avatar@2x.jpg 2x"
         alt="">

    <h1 class="hero__heading">Roland <br>Warmerdam</h1>

    <p class="hero__tagline">Front end developer extraordinaire</p>

    <ul class="hero__skills">
        <li class="hero__skill">
            {{svgs.html|safe}}
        </li>
        <li class="hero__skill">
            {{svgs.css|safe}}
        </li>
        <li class="hero__skill">
            {{svgs.js|safe}}
        </li>
        <li class="hero__skill">
            {{svgs.node|safe}}
        </li>
        <li class="hero__skill">
            {{svgs.linux|safe}}
        </li>
        <li class="hero__skill">
            {{svgs.tetris|safe}}
        </li>
    </ul>

    <nav role="navigation">
        <ul class="hero__nav">
            <li>
                <a class="line-hover" href="/#about">About</a>
            </li>
            <li>
                <a class="line-hover" href="/#projects">Projects</a>
            </li>
            <li>
                <a class="line-hover" href="/blog/">Blog</a>
            </li>
            <li>
                <a class="line-hover" href="/#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<main role="main">
    <section class="project-list" id="projects">
        <div class="project-list__wrapper">
            <h2 class="project-list__heading heading">Projects</h2>

            {% for project in [1,2,3] %}
                <section class="project-list__project">
                    <div class="project-list__project__image">
                        <img src="/assets/images/project-image.png"
                             srcset="/assets/images/project-image@2x.png 2x"
                             alt="">
                    </div>

                    <div class="project-list__project__content">
                        <h3 class="project-list__project__heading heading heading--small">
                            The Monocle
                        </h3>

                        <div class="project-list__project__logos">
                            {{svgs.html|class('themed themed--stroke')|safe}}
                            {{svgs.css|class('themed themed--stroke')|safe}}
                            {{svgs.js|class('themed themed--stroke')|safe}}
                        </div>

                        <p class="project-list__project__description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, consectetur delectus sunt modi, culpa beatae. In hic maiores quasi repudiandae tempore, aliquam, autem adipisci similique dolorum distinctio commodi beatae dolore.
                        </p>

                        <a class="project-list__project__link themed themed--bg themed--hover"
                           href="/projects/monocle/">Check it out</a>
                    </div>
                </section>
            {% endfor %}
        </div>
    </section>

    {% include "contact.html" %}
</main>
{% endblock %}
