{% extends "base.html" %}

{% block body %}
    <div class="hero">
        <h1 class="hero__heading">Front end developer.<br> Technology hacker. Gamer.</h1>

        <ul class="hero__skills">
            <li class="hero__skill">
                {{ svgs.html }}
            </li>
            <li class="hero__skill">
                {{ svgs.css }}
            </li>
            <li class="hero__skill">
                {{ svgs.node }}
            </li>
            <li class="hero__skill">
                {{ svgs.linux }}
            </li>
            <li class="hero__skill">
                {{ svgs.git }}
            </li>
            <li class="hero__skill">
                {{ svgs.tetris }}
            </li>
        </ul>

        <nav role="navigation">
            <ul class="hero__nav">
                <li>
                    <a class="line-hover themed--no-color" href="/#projects">Projects</a>
                </li>
                <li>
                    <a class="line-hover themed--no-color" href="/#about">About</a>
                </li>
                <li>
                    <a class="line-hover themed--no-color" href="/blog/">Blog</a>
                </li>
                <li>
                    <a class="line-hover themed--no-color" href="/#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="project-list" id="projects">
        <div class="project-list__wrapper">
            <h2 class="project-list__heading heading">Projects</h2>

            {% for project in collections.projects %}
                <section class="project-list__project">
                    <div class="project-list__project__image">
                        <img src="/assets/content/{{ project.path }}/home.png"
                             srcset="/assets/content/{{ project.path }}/home@2x.png 2x"
                             alt="">
                    </div>

                    <div class="project-list__project__content">
                        <h3 class="project-list__project__heading heading heading--small">
                            {{ project.title }}
                        </h3>

                        <div class="project-list__project__logos">
                            {% for logo in project.logos %}
                                {{ svgs[logo] | class('themed--stroke') }}
                            {% endfor %}
                        </div>

                        <p class="project-list__project__description">
                            {{ project.description }}
                        </p>

                        <a class="project-list__project__link themed--bg themed--hover themed--no-color"
                           href="/{{ project.path }}/">Check it out</a>
                    </div>
                </section>
            {% endfor %}
        </div>
    </section>

    {% include "partials/footer.html" %}
{% endblock %}
