{% extends "base.html" %}
{% set headerWhite = true %}
{% set headerShortName = true %}
{% set pushNavThemed = true %}

{% block body %}
<main role="main">
    <div class="project-detail">
        <div class="project-detail__wrapper">
            <div class="project-detail__top">
                <div class="project-detail__images">
                    <img class="project-detail__image"
                         src="/assets/content/{{ path }}/large.png"
                         srcset="/assets/content/{{ path }}/large@2x.png 2x"
                         alt="">
                </div>

                <div class="project-detail__text">
                    <h1 class="project-detail__heading">{{ title }}</h1>

                    <div class="project-detail__logos">
                        {% for logo in logos %}
                            {{ svgs[logo] | class('themed--stroke') }}
                        {% endfor %}
                    </div>

                    <div class="project-detail__description">
                        {{ contents }}
                    </div>

                    <ul class="project-detail__links">
                        {% for link in links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {#
            <div class="project-detail__codepen">
                <p class="codepen"
                   data-height="400"
                   data-theme-id="17006"
                   data-slug-hash="rhlfd"
                   data-default-tab="result">
                    See the demo:
                    <a href="/demos/legacy-flexbox-invisible-float-bug/">Legacy flexbox invisible float bug fix</a>.
                </p>
            </div>
            #}
        </div>
    </div>

    {% include "contact.html" %}
</main>

{#
<script async src="https://codepen.io/assets/embed/ei.js"></script>
#}
{% endblock %}
